---
import Layout from "../../layouts/Layout.astro";
import ArticleItem from "../../components/ArticleItem.astro";
import { getCollection } from "astro:content";

interface Post {
  title: string;
  date: string;
  tag: string;
  desc: string;
}

const allSummaryPosts = await getCollection("summary");
const posts = allSummaryPosts.map((item) => {
  const data = item.data as Post;
  return {
    ...data,
    id: item.id,
    slug: item.slug,
  };
});
---

<Layout>
  {
    posts.map((post) => {
      return (
        <a class="w-fit" href={`/summary/${post.slug}`}>
          <ArticleItem
            title={post.title}
            date={post.date}
            tag={post.tag}
            desc={post.desc}
          />
        </a>
      );
    })
  }
</Layout>

<style scoped></style>
